<header>
        <h1>Тип сбора</h1>
    </header>
    <section>
        <div class="center-block">
            <div class="card-link">
                <img src="../../assets/icon-target.svg" alt="icon target" class="icon">
                <div>
                    <h3>Целевой сбор</h3>
                    <span>Когда есть определённая цель</span>
                </div>
                <img src="../../assets/icon-next.svg" alt="icon next" class="icon">
            </div>
            <div class="card-link">
                    <img src="../../assets/icon-calendar.svg" alt="icon target" class="icon">
                    <div>
                        <h3>Регулярный сбор</h3>
                        <span>Если помощь нужна ежемесячно</span>
                    </div>
                    <img src="../../assets/icon-next.svg" alt="icon next" class="icon">
                </div>
        </div>
    </section>