@font-face {
    font-family: 'TT Commons'; /* Имя шрифта */
    src: url(fonts/TTCommons-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'SF Pro Text'; /* Имя шрифта */
    src: url(fonts/SFProText-Regular.ttf); /* Путь к файлу со шрифтом */
}

section{
    display: flex;
    align-items: center;
    flex-direction: column
}

header {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    flex: none;
    order: 0;
    margin: 0px 0px;
    border-bottom: solid 0.33px #D7D8D9; 
}

h1 {
    font-family: 'TT Commons';
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

p {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.32px;
    color: #818C99;
}

button {
    display: flex;
    flex-direction: row;
    padding: 8.5px 16px;
    position: static;
    background: #4986CC;
    border: 0;
    border-radius: 10px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
}