@font-face {
    font-family: 'TT Commons'; /* Имя шрифта */
    src: url(fonts/TTCommons-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'SF Pro Text'; /* Имя шрифта */
    src: url(fonts/SFProText-Regular.ttf); /* Путь к файлу со шрифтом */
}

section{
    display: flex;
    align-items: center;
    flex-direction: column
}

.center-block {
    padding: 48px 0;
    position: absolute;
    width: 90%;
    height: 196px;
    top: calc(50% - 196px/2);
    display: flex;
flex-direction: column;
align-items: center
}

header {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    flex: none;
    order: 0;
    margin: 0px 0px;
    border-bottom: solid 0.33px #D7D8D9; 
}

h1 {
    font-family: 'TT Commons';
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

h3 {
    font-family: 'SF Pro Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.32px;
margin-bottom: 2px;
}

p {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.32px;
    color: #818C99;
}

span {
    font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
letter-spacing: -0.078px;
color: #6D7885;
}

button, input[type="submit"]{
    padding: 8.5px 16px;
    position: static;
    background: #4986CC;
    border: 0;
    border-radius: 10px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
}

.card-link {
    display: flex;
position: static;
left: 3.2%;
right: 3.2%;
top: 10.81%;
bottom: 5.41%;
background: #F5F5F5;
border: 0.33px solid rgba(0, 0, 0, 0.08);
box-sizing: border-box;
border-radius: 10px;
margin: 12px 0;
}
.icon {
    margin: 22px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}
form label {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #6D7885;
}
form input, textarea, select {
    margin-bottom: 26px;
    background: #F2F3F5;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
    padding:12px;
}

.rad p{
    text-align: left;
    color: #000000;
}
.rad .radfirst {
    margin-bottom: -13px;
}


.upload {margin-bottom: 26px;}
.upload input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
.upload .label{border:2px dashed #4986CC;border-radius:5px; display:flex; padding:1.2em;transition:border 300ms ease;cursor:pointer; justify-content: center; padding-left: 20%;}
.upload .label .title{color: #3F8AE0;transition:200ms color; font-size: 16px; align-self: center;}
.upload .label:hover{border:2px solid #3F8AE0;}
.upload .label:hover .title{color: #3F8AE0;}
