<header>
        <h1>Матвей</h1>
    </header>
    <section>
        <textarea class="non_border" placeholder="Описание" autofocus>Самое время помочь тем, кто не может попросить о помощи сам.</textarea>
        <div class="card-preview">
            <div class="card-img">
                <img src="../../assets/cat.jpg" alt="preview">
            </div>
            
            <div class="card-preview-title">
                <h3>Добряши помогают котикам</h3>
                <span>Матвей Правосудов</span>
                -
                <span>Закончится через 5 дней</span>
            </div>
            <div class="hr"></div>
            <div class="card-preview-title progress-bar">
                <div>
                    <h4>Помогите первым</h4>
                    <progress max="100" value="0"></progress>
                </div>
                
                <button class="button-small">Помочь</button>
            </div>
            
        </div>
    </section>
